@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Mulish", sans-serif;

}

button{
    width: 220px;
    border: 2px solid rgba(69, 143, 246, 1);  
    font-size: 17px;
    font-weight: 700;
    line-height: 21.34px;  
    text-align: justify;
    border-radius: 55px;
    padding: 17px 51px;
    transition: 0.5 ease-in-out;
    background-color: transparent;
    color: rgba(69, 143, 246, 1);
    text-align: center;
}

button:hover{
    background-color: rgba(69, 143, 246, 1);
    color: white;
}

.container{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 46px 0;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

nav ul li a{
    font-size: 18px;
    font-weight: 400;
    line-height: 22.59px;
    color: #646365;
    text-decoration: none;
    transition: 0.2 ease-in-out;
}

nav ul li a:hover{
    color: black;
}

.header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 90px 0;
}

.right{
    max-width: 440px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.right h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;  
}

.right p{
    font-size: 19px;
    font-weight: 300;
    line-height: 32px;
    text-align: left;
    color: #7D7987;

}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    row-gap: 40px;
}

.card{
    color: black;
    width: 32%;
    background-color: rgba(231, 231, 231, 1);
    border-radius: 20px;
    padding: 71px 56px 31px 39px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    transition: 0.5 ease-in-out;
}

.card:hover{
    background-color: rgba(69, 143, 246, 1);
    color: white;
}

.card img{
    width: 96px;
    height: 93px;

}

.card_text{
    font-size: 24px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
}

.card_text h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
}

.card_text p{
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    max-width: 280px;
}

.text1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 61px;
    margin: 91px 0;
}

.text1 h2{
    font-family: Mulish;
    font-size: 35px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
}

.text1 p{
    font-family: Mulish;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    color: #7D7987;
}

.btn{
    margin: 32px auto;
    display: flex;
    justify-content: center;
}

.h2{
    font-family: Mulish;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    margin: 76px 0;

}

.card1{
    width: 32%;
    box-shadow: 10px 40px 50px  #E5E9F666;
    border-radius: 5px;
}

.card_text1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 60px 42px 30px;
}

.card_text1 h3{
    font-family: Mulish;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;

}

.card_text1 p{
    font-family: Mulish;
font-size: 16px;
font-weight: 300;
line-height: 28px;
text-align: left;
color: #7D7987;
}


.card_text1 a{
    font-family: Mulish;
font-size: 17px;
font-weight: 600;
line-height: 28px;
text-align: left;
color: #4089ED;
}


.card_text1 a::after{
    content: url('./Vector.svg');
}


footer{
    background-image: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);

}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 160px 0;
}

.f1{
    max-width: 386px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.f1 img{
    width: 170px;
}

.f1 p{
    font-family: Mulish;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    color: white;

}


.f2{
    display: flex;
    color: white;
    flex-direction: column;
    gap: 20px;
}